// Write your overrides
.v-table .v-table__wrapper > table > thead > tr > th:not(:last-child), .v-table .v-table__wrapper > table > tbody > tr > td:not(:last-child) {
    border-right: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
}
.v-table .v-table__wrapper > table > thead > tr > th {
    border-top: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
}
.v-table .v-table__wrapper > table > tbody > tr > td {
    border-bottom: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
}
.border-right {
    border-right: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
}
.v-table .v-table__wrapper > table > tbody > tr > td.align-top {
    vertical-align: top; padding-top: 16px;
}
